// Alignment attributes for layout containers' children
// Arrange on the Main Axis
// center, start, end, space-between, space-around
// flex-start is the default for justify-content
// ------------------------------



.layout,
.layout-column,
.layout-row {
  box-sizing: border-box;
  display: flex;
}

.layout-column {
  flex-direction: column;
}

.layout-row {
  flex-direction: row;
}


$name: "layout-align";

.#{$name},
.#{$name}-start-stretch {
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

// Main Axis Center
.#{$name}-start,
.#{$name}-start-start,
.#{$name}-start-center,
.#{$name}-start-end,
.#{$name}-start-stretch {
  justify-content: flex-start;
}

// Main Axis Center
.#{$name}-center,           //stretch
.#{$name}-center-start,
.#{$name}-center-center,
.#{$name}-center-end,
.#{$name}-center-stretch {
  justify-content: center;
}

// Main Axis End
.#{$name}-end, //stretch
.#{$name}-end-start,
.#{$name}-end-center,
.#{$name}-end-end,
.#{$name}-end-stretch {
  justify-content: flex-end;
}

// Main Axis Space Around
.#{$name}-space-around, //stretch
.#{$name}-space-around-center,
.#{$name}-space-around-start,
.#{$name}-space-around-end,
.#{$name}-space-around-stretch {
  justify-content: space-around;
}

// Main Axis Space Between
.#{$name}-space-between, //stretch
.#{$name}-space-between-center,
.#{$name}-space-between-start,
.#{$name}-space-between-end,
.#{$name}-space-between-stretch {
  justify-content: space-between;
}


// Arrange on the Cross Axis
// center, start, end
// stretch is the default for align-items
// ------------------------------

// Cross Axis Start
.#{$name}-start-start,
.#{$name}-center-start,
.#{$name}-end-start,
.#{$name}-space-between-start,
.#{$name}-space-around-start {
  align-items: flex-start;
  align-content: flex-start;
}

// Cross Axis Center
.#{$name}-start-center,
.#{$name}-center-center,
.#{$name}-end-center,
.#{$name}-space-between-center,
.#{$name}-space-around-center {
  align-items: center;
  align-content: center;
  max-width: 100%;
}

// Cross Axis Center IE overflow fix
.#{$name}-start-center > *,
.#{$name}-center-center > *,
.#{$name}-end-center > *,
.#{$name}-space-between-center > *,
.#{$name}-space-around-center > * {
  max-width: 100%;
  box-sizing: border-box;
}

// Cross Axis End
.#{$name}-start-end,
.#{$name}-center-end,
.#{$name}-end-end,
.#{$name}-space-between-end,
.#{$name}-space-around-end {
  align-items: flex-end;
  align-content: flex-end;
}

// Cross Axis Start
.#{$name}-start-stretch,
.#{$name}-center-stretch,
.#{$name}-end-stretch,
.#{$name}-space-between-stretch,
.#{$name}-space-around-stretch {
  align-items: stretch;
  align-content: stretch;
}
